<h1>List of motels:</h1>

<div class="">
  <% @motels.each do |motel| %>
    <%= link_to motel_rooms_path(motel) do %>
      <p>Motel name: <%= motel.name %></p>
      <img src="<%= motel.logo %>" style="width: 300px;" alt="">
    <% end %>
  <% end %>
</div>
