<h1>List of rooms from Motel <%= @motel.name %>:</h1>

<div class="">
  <p>Motel name: <%= @motel.name %></p>
  <% @rooms.each do |room| %>

    <p>Room name: <%= room.name %></p>
    <img src="<%= room.picture %>" style="width: 300px;" alt="">

  <% end %>
</div>
